<div class="az-content">
    <div class="container-fluid mn-ht-100p">
        <div class="az-content-left az-content-left-profile">

            <div class="az-profile-overview">
                <div class="az-img-user">
                    <img src="../assets/images/img1.jpg" alt="">
                </div>
                <!-- az-img-user -->
                <div class="d-flex justify-content-between mg-b-20">
                    <div>
                        <h5 class="az-profile-name">Noppamas Tongdee</h5>
                        <p class="az-profile-name-text">IT Administrator</p>
                    </div>
                </div>

                <hr class="mg-y-30">

                <div class="az-content-label tx-13 mg-b-25">Contact Information</div>
                <div class="az-profile-contact-list">
                    <div class="media">
                        <div class="media-icon"><i class="icon ion-md-call"></i></div>
                        <div class="media-body">
                            <span>Extension Number</span>
                            <div>5209</div>
                        </div>
                        <!-- media-body -->
                    </div>
                    <!-- media -->
                    <div class="media">
                        <div class="media-icon"><i class="icon ion-md-mail"></i></div>
                        <div class="media-body">
                            <span>Email</span>
                            <div>noppamas@mail.canon</div>
                        </div>
                        <!-- media-body -->
                    </div>
                    <!-- media -->
                </div>
                <!-- az-profile-contact-list -->

            </div>
            <!-- az-profile-overview -->

        </div>
        <!-- az-content-left -->
        <div class="az-content-body az-content-body-profile">
            <nav class="nav az-nav-line" role="tablist">
                <a href="#menu" class="nav-link" data-toggle="tab" role="tab">MENU</a>
                <a href="#role" class="nav-link" data-toggle="tab" role="tab">Role & Privillage</a>
                <a href="#password" class="nav-link active" data-toggle="tab" role="tab">CHANGE PASSWORD</a>
            </nav>

            <div class="az-profile-body tab-content">

                <div id="menu" class="d-none">
                    <div class="az-content-label mg-b-5">MENU</div>

                </div>

                <div id="role" class="d-none">
                    <div class="az-content-label mg-b-5">ROLE & PRIVILLAGE</div>
                    <dl class="row">
                        <dt class="col-sm-3">Role</dt>
                        <dd class="col-sm-9">IT Administrator</dd>

                        <dt class="col-sm-3">Granter</dt>
                        <dd class="col-sm-9">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Off</label>
                            </div>
                        </dd>

                        <dt class="col-sm-3">See salary</dt>
                        <dd class="col-sm-9">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2">Off</label>
                            </div>
                        </dd>
                    </dl>

                    <table class="table table-hover table-responsive w-100">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Read</th>
                                <th>Create</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="password" class="show active">
                    <div class="az-content-label mg-b-5">CHANGE PASSWORD</div>
                    <div class="pd-10 pd-sm-10 wd-xl-80p">
                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label class="form-label mg-b-0">Old password</label>
                            </div>
                            <!-- col -->
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input type="text" class="form-control" placeholder="Enter your old password">
                            </div>
                            <!-- col -->
                        </div>
                        <!-- row -->

                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label class="form-label mg-b-0">New password</label>
                            </div>
                            <!-- col -->
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input type="text" class="form-control" placeholder="Enter your new password">
                            </div>
                            <!-- col -->
                        </div>
                        <!-- row -->

                        <div class="row row-xs align-items-center mg-b-20">
                            <div class="col-md-4">
                                <label class="form-label mg-b-0">Confirm password</label>
                            </div>
                            <!-- col -->
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <input type="email" class="form-control" placeholder="Enter your new password again">
                            </div>
                            <!-- col -->
                        </div>
                        <!-- row -->

                        <button class="btn btn-az-primary pd-x-30 mg-r-5">Change Password</button>
                        <button class="btn btn-dark pd-x-30">Cancel</button>
                    </div>
                </div>

                <hr class="mg-y-40">

            </div>
            <!-- az-profile-body -->
        </div>
    </div>
</div>