<div class="row text-capitalize">
    <div class="col-4 offset-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    course no.
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Enter key..." #txtcourse_no>
        </div>
    </div>
</div>
<br>
<div class="d-flex flex-column">
    <iframe src="assets/report/signature.pdf" height="650"></iframe>
</div>