<div [formGroup]="form">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">course no.</label>
                <input type="text" class="form-control" placeholder="Enter key..." autofocus (keyup)="onKeyCourse($event)" formControlName="frm_course" [ngClass]="{ 'is-invalid': submitted && f.frm_course.errors }" #txtcourse_no>
                <div *ngIf="submitted && f.frm_course.errors" class="invalid-feedback">
                    <div *ngIf="f.frm_course.errors.required">Course is required</div>
                    <div *ngIf="f.frm_course.errors.minlength">Min 11 characters</div>
                    <div *ngIf="f.frm_course.errors.maxlength">Max 20 characters</div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">course</label>
                <input type="text" class="form-control" readonly="" formControlName="frm_course_name" [ngClass]="{ 'is-invalid': submitted && f.frm_course_name.errors }" #txtcourse_name>
                <div *ngIf="submitted && f.frm_course_name.errors" class="invalid-feedback">
                    <div *ngIf="f.frm_course_name.errors.required">Course name is required</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">group</label>
                <input type="text" class="form-control" readonly="" #txtgroup>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">Capacity</label>
                <input type="text" class="form-control" readonly="" #txtqty>
            </div>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-3">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">from</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="typcn typcn-calendar-outline tx-20 lh--9 op-6"></i>
                        </div>
                    </div>
                    <input class="form-control" readonly #txtdate_from>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">to</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="typcn typcn-calendar-outline tx-20 lh--9 op-6"></i>
                        </div>
                    </div>
                    <input class="form-control" readonly #txtdate_to>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">band</label>
                <br>
                <div *ngFor="let item of checkboxesDataList" style="display: inline-block;">
                    &nbsp;&nbsp;<input type="checkbox" [(ngModel)]="item.isChecked" [ngModelOptions]="{standalone: true}" disabled>&nbsp;{{item.band}}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">emp no.</label>
                <input type="text" class="form-control" placeholder="Enter key..." autofocus (keyup)="onKeyEmpno($event)" formControlName="frm_emp_no" [ngClass]="{ 'is-invalid': submitted && f.frm_emp_no.errors }" #txtemp_no>
                <div *ngIf="submitted && f.frm_emp_no.errors" class="invalid-feedback">
                    <div *ngIf="f.frm_emp_no.errors.required">Emp no is required</div>
                    <div *ngIf="f.frm_emp_no.errors.minlength">Min 6 characters</div>
                    <div *ngIf="f.frm_emp_no.errors.maxlength">Max 7 characters</div>
                </div>
                <span class="text-warning" *ngIf="not_pass">{{txt_not_pass}}</span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">name</label>
                <input type="text" class="form-control" readonly="" formControlName="frm_emp_name" [ngClass]="{ 'is-invalid': submitted && f.frm_emp_name.errors }" #txtfull_name>
                <div *ngIf="submitted && f.frm_emp_name.errors" class="invalid-feedback">
                    <div *ngIf="f.frm_emp_name.errors.required">Emp name is required</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">position</label>
                <input type="text" class="form-control" readonly="" #txtposition>
            </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">band</label>
                <input type="text" class="form-control" readonly="" #txtband>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">department</label>
                <input type="text" class="form-control" readonly="" #txtdept>
            </div>
        </div>
        <div class="col-2 text-right pt-4">
            <button type="button" class="btn btn-az-primary btn-sm" (click)="fnSave()">Save</button>
            <button type="button" class="btn btn-dark btn-sm" (click)="fnClear()">Clear</button>
        </div>
    </div>
    <hr>
    <div class="row text-muted">
        <div class="col-1 pt-1 text-uppercase">import</div>
        <div class="col-4">
            <div class="custom-file">
                <input type="file" class="custom-file-input pointer" (change)="chooseFile($event)" #customFile>
                <label class="custom-file-label" for="customFile">{{nameFile}}</label>
            </div>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-outline-indigo btn-sm" (click)="dowloadFormat()"><i class="fas fa-cloud-download-alt"></i> Download</button>
            <button type="button" class="btn btn-outline-indigo btn-sm" (click)="upload()"><i class="fas fa-cloud-upload-alt"></i> Upload</button>
        </div>
        <div class="col-12">
            <div style="position: absolute; top:-25px; left: 65px; width: 32%;">
                <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                    <i class="typcn typcn-info-large tx-24 lh--9 op-6 pointer text-muted"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 5px;">
                    <p>เริ่มกรอกข้อมูลแถวที่ 4</p>
                    <img src="assets/images/img-format-input-training.PNG" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<ul class="nav nav-tabs text-capitalize" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="your-tab" data-toggle="tab" href="#your" role="tab" aria-controls="your" aria-selected="true">your division.</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">other division.</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="your" role="tabpanel" aria-labelledby="your-tab">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="text-uppercase">
                    <th>no.</th>
                    <th>employee no.</th>
                    <th>name</th>
                    <th>position</th>
                    <th>band</th>
                    <th>department</th>
                    <th>status</th>
                    <th>remark</th>
                    <th>manage</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data_grid; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.emp_no }}</td>
                    <td>{{ item.sname_eng }}&nbsp;{{ item.gname_eng }}&nbsp;{{ item.fname_eng }}</td>
                    <td>{{ item.posn_ename }}</td>
                    <td>{{ item.band }}</td>
                    <td>{{item.dept_code}}:{{ item.dept_abb_name }}</td>
                    <td>{{ item.last_status }}</td>
                    <td>
                        <ng-container *ngIf="item.course_name_en === '';else show">
                            <span>{{ item.remark }}</span>
                        </ng-container>
                        <ng-template #show>
                            <span placement="bottom" ngbTooltip="{{ item.course_name_en }}">{{ item.remark }}</span>
                        </ng-template>
                    </td>
                    <td>
                        <i class="far fa-trash-alt pointer" (click)="fnDelete(item)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
        <table datatable [dtOptions]="dtOptions_other" class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="text-uppercase">
                    <th>no.</th>
                    <th>employee no.</th>
                    <th>name</th>
                    <th>position</th>
                    <th>band</th>
                    <th>department</th>
                    <th>status</th>
                    <th>remark</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data_grid_other; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.emp_no }}</td>
                    <td>{{ item.sname_eng }}&nbsp;{{ item.gname_eng }}&nbsp;{{ item.fname_eng }}</td>
                    <td>{{ item.posn_ename }}</td>
                    <td>{{ item.band }}</td>
                    <td>{{item.dept_code}}:{{ item.dept_abb_name }}</td>
                    <td>{{ item.last_status }}</td>
                    <td>
                        <ng-container *ngIf="item.course_name_en === '';else show">
                            <span>{{ item.remark }}</span>
                        </ng-container>
                        <ng-template #show>
                            <span placement="bottom" ngbTooltip="{{ item.course_name_en }}">{{ item.remark }}</span>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>