<div class="row text-capitalize">
    <div class="col-4 offset-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    course no.
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Enter key..." value="CPT-001" #txtcourse_no>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover table-sm" id="example">
            <thead>
                <tr class="text-uppercase">
                    <th>no.</th>
                    <th>course no.</th>
                    <th>employee no.</th>
                    <th>name</th>
                    <th>position</th>
                    <th>division</th>
                    <th>department</th>
                    <th>PRE-RESULT</th>
                    <th>grade</th>
                    <th>POST-RESULT</th>
                    <th>grade</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data_grid; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.course_no }} : {{ item.course_name_en }}</td>
                    <td>{{ item.emp_no }}</td>
                    <td>{{ item.status_eng }}&nbsp;{{ item.gname_eng }}&nbsp;{{ item.fname_eng }}</td>
                    <td>{{ item.posn_name }}</td>
                    <td>{{ item.div_abb_name }}</td>
                    <td>{{ item.dept_abb_name }}</td>
                    <td>{{ item.pre_test_score }}</td>
                    <td>{{ item.pre_test_grade }}</td>
                    <td>{{ item.post_test_score }}</td>
                    <td>{{ item.post_test_grade }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>