<div class="card card-body mb-3">
  <form (ngSubmit)="save_stakeholders()">
  <div class="row">
      <div class="form-group col mb-0 p-1">
          <label class="az-content-label tx-11 tx-medium tx-gray-600">Department</label>
          <ng-select [items]="departments" 
                      groupBy="parent_org.parent_org_code" 
                      bindLabel="org_abb" 
                      bindValue="org_abb"
                      [(ngModel)]="stakeholder.org_code" 
                      [ngModelOptions]="{standalone: true}"
                      allow-clear="true">
            <ng-template ng-optgroup-tmp let-item="item">
                <b>{{item.org_abb || "f"}}</b>
            </ng-template>
        </ng-select>
      </div><!-- form-group -->
      <div class="form-group col mb-0 p-1">
          <label class="az-content-label tx-11 tx-medium tx-gray-600">committee</label>.
          <input type="text" name="emp_no" class="form-control" required >
          <!-- <input type="text" name="fname_en" class="form-control" required 
            [(ngModel)]="stakeholder.stakeholders.emp_no" 
              > -->
              <!-- <ng-select
    [multiple]="true"
    [items]="employees"
    [(ngModel)]="stakeholder.committee"
    placeholder="Select employee"
    [ngModelOptions]="{standalone: true}"
    bindLabel="emp_no"
    bindValue="emp_no"> -->
    <!-- <ng-template ng-header-tmp>
        <button (click)="selectAll()" class="btn btn-sm btn-secondary">Select all</button>
        <button (click)="unselectAll()" class="btn btn-sm btn-secondary">Unselect all</button>
    </ng-template>
    <ng-template ng-footer-tmp>
        Selected count: {{selectedPeople.length}}
    </ng-template> -->
<!-- </ng-select> -->
      </div><!-- form-group -->
      <div class="form-group col mb-0 p-1">
          <label class="az-content-label tx-11 tx-medium tx-gray-600">approver</label>
          <input type="text" name="emp_no" class="form-control" required >
          <!-- <input type="text" name="fname_en" class="form-control" required 
            [(ngModel)]="stakeholder.stakeholders.emp_no" 
              > -->
      </div><!-- form-group -->
      <div class="form-group col pt-1">
        <label class="az-content-label tx-11 tx-medium tx-gray-600 invisible">222</label>
        <div>
            <button type="submit" class="btn btn-az-primary btn-sm">Save</button>
            <button type="button" class="btn btn-dark btn-sm">Clear</button>
        </div>
    </div>
  </div>
  </form>
</div>


<table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover w-100" id="example">
    <thead>
        <tr>
            <th class="text-center">DIVISION</th>
            <th class="text-center">DEPARTMENT</th>
            <th class="text-center">LEVEL</th>
            <th class="text-center">COMMITTEE</th>
            <th class="text-center">APPROVER (MGR.)</th>
            <th class="text-center">MANAGE</th>
        </tr>
    </thead>
</table>
  

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>