<div class="card card-body mb-3 tx-13">
    <dl class="row">
        <dt class="col-sm-3">ID: </dt>
        <dd class="col-sm-9">{{ trainer.trainer_no }}</dd>
      
        <dt class="col-sm-3">EMP NO:</dt>
        <dd class="col-sm-9">{{ trainer.emp_no || '-' }}</dd>
      
        <dt class="col-sm-3">TITLE:</dt>
        <dd class="col-sm-9">{{ trainer.title_name_en || '-' }}</dd>
      
        <dt class="col-sm-3">FIRSTNAME:</dt>
        <dd class="col-sm-9">{{ trainer.firstname_en || '-' }}</dd>

        <dt class="col-sm-3">LASTNAME: </dt>
        <dd class="col-sm-9">{{ trainer.lastname_en || '-' }}</dd>
      
        <dt class="col-sm-3">DIVISION:</dt>
        <dd class="col-sm-9">{{ trainer.div_abb || '-' }}</dd>

        <dt class="col-sm-3">DEPARTMENT: </dt>
        <dd class="col-sm-9">{{ trainer.dept_abb || '-' }}</dd>
      
        <dt class="col-sm-3">ORGANIZATION:</dt>
        <dd class="col-sm-9">{{ trainer.organization || '-' }}</dd>
      
        <dt class="col-sm-3">STATUS:</dt>
        <dd class="col-sm-9">{{ trainer.employed_status || '-' }}</dd>
    </dl>
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover" id="example">
    <thead>
        <tr>
            <th class="text-center">COURSE NO</th>
            <th class="text-center">THAI NAME</th>
            <th class="text-center">ENGLISH NAME</th>
            <th class="text-center">DATE START</th>
            <th class="text-center">DATE END</th>
            <th class="text-center">PLACE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of trainer_history">
            <td>{{ i.courses.course_no }}</td>
            <td>{{ i.courses.course_name_th }}</td>
            <td>{{ i.courses.course_name_en }}</td>
            <td>{{ i.courses.date_start | date:'dd-MMM-yy' }}</td>
            <td>{{ i.courses.date_end | date:'dd-MMM-yy'}}</td>
            <td>{{ i.courses.place }}</td>
        </tr>
    </tbody>
</table>