<div [formGroup]="form">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">course no&nbsp;&nbsp;&nbsp;
                    <i class="typcn typcn-zoom tx-20 lh--9 op-6 pointer" (click)="openCourse(contentCourse)"></i>
                </label>
                <input type="text" class="form-control" placeholder="Enter key..." (keyup)="onKeyCourse($event)" formControlName="frm_course" [ngClass]="{ 'is-invalid': submitted && f.frm_course.errors }" #txtcourse_no>
                <div *ngIf="submitted && f.frm_course.errors" class="invalid-feedback">
                    <div *ngIf="f.frm_course.errors.required">Course is required</div>
                    <div *ngIf="f.frm_course.errors.minlength">Min 11 characters</div>
                    <div *ngIf="f.frm_course.errors.maxlength">Max 20 characters</div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">course</label>
                <input type="text" class="form-control" readonly #txtcourse_name_en>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">group</label>
                <input type="text" class="form-control" readonly #txtgroup>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">Capacity</label>
                <input type="text" class="form-control" readonly #txtqty>
            </div>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-3">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">from</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="typcn typcn-calendar-outline tx-20 lh--9 op-6"></i>
                        </div>
                    </div>
                    <input class="form-control" readonly #txtdate_from>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">to</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="typcn typcn-calendar-outline tx-20 lh--9 op-6"></i>
                        </div>
                    </div>
                    <input class="form-control" readonly #txtdate_to>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">band</label>
                <br/>
                <input type="checkbox" [checked]="ck_e" disabled>&nbsp;<span>E</span>&nbsp;&nbsp;
                <input type="checkbox" [checked]="ck_j1" disabled>&nbsp;<span>J1</span>&nbsp;&nbsp;
                <input type="checkbox" [checked]="ck_j2" disabled>&nbsp;<span>J2</span>&nbsp;&nbsp;
                <input type="checkbox" [checked]="ck_j3" disabled>&nbsp;<span>J3</span>&nbsp;&nbsp;
                <input type="checkbox" [checked]="ck_j4" disabled>&nbsp;<span>J4</span>&nbsp;&nbsp;
                <input type="checkbox" [checked]="ck_m1" disabled>&nbsp;<span>M1</span>&nbsp;&nbsp;
                <input type="checkbox" [checked]="ck_m2" disabled>&nbsp;<span>M2</span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">place</label>
                <input class="form-control" readonly #txtplace>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-1 pt-4">emp no.</div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">from</label>
                <input type="text" class="form-control" minlength="0" maxlength="7" formControlName="frm_emp_no_from" [ngClass]="{ 'is-invalid': submitted && f.frm_emp_no_from.errors }" (keyup)="onKeyEmpNoFrom($event)" #txtemp_no_from>
                <div *ngIf="f.frm_emp_no_from.errors" class="invalid-feedback">
                    <div *ngIf="f.frm_emp_no_from.errors.required">Required</div>
                    <div *ngIf="f.frm_emp_no_from.errors.minlength">Min 1 characters</div>
                    <div *ngIf="f.frm_emp_no_from.errors.maxlength">Max 7 characters</div>
                    <div *ngIf="f.frm_emp_no_from.errors.someErrorFrom">Please fill correct data</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">to</label>
                <input type="text" class="form-control" minlength="0" maxlength="7" formControlName="frm_emp_no_to" [ngClass]="{ 'is-invalid': submitted && f.frm_emp_no_to.errors }" (keyup)="onKeyEmpNoTo($event)" #txtemp_no_to>
                <div *ngIf="f.frm_emp_no_to.errors" class="invalid-feedback">
                    <div *ngIf="f.frm_emp_no_to.errors.required">Required</div>
                    <div *ngIf="f.frm_emp_no_to.errors.minlength">Min 1 characters</div>
                    <div *ngIf="f.frm_emp_no_to.errors.maxlength">Max 7 characters</div>
                    <div *ngIf="f.frm_emp_no_to.errors.someErrorTo">Please fill correct data</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-6" style="padding: 0 10px 0 10px;">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">pre-test</label>
                        <input type="text" class="form-control" minlength="0" maxlength="3" formControlName="frm_pre_test_score" [ngClass]="{ 'is-invalid': submitted && f.frm_pre_test_score.errors }" (keyup)="onKeyPreTestScore($event)" #txtpre_test_score>
                        <div *ngIf="submitted && f.frm_pre_test_score.errors" class="invalid-feedback">
                            <div *ngIf="f.frm_pre_test_score.errors.required">Required</div>
                            <div *ngIf="f.frm_pre_test_score.errors.minlength">Min 1 characters</div>
                            <div *ngIf="f.frm_pre_test_score.errors.maxlength">Max 3 characters</div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="margin-left: -22px;">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600 invisible">pre_test_grade</label>
                        <input type="text" class="form-control" readonly="" #txtpre_test_grade>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-6" style="padding: 0 10px 0 10px;">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">post-test</label>
                        <input type="text" class="form-control" minlength="0" maxlength="3" formControlName="frm_post_test_score" [ngClass]="{ 'is-invalid': submitted && f.frm_post_test_score.errors }" (keyup)="onKeyPostTestScore($event)" #txtpost_test_score>
                        <div *ngIf="submitted && f.frm_post_test_score.errors" class="invalid-feedback">
                            <div *ngIf="f.frm_post_test_score.errors.required">Required</div>
                            <div *ngIf="f.frm_post_test_score.errors.minlength">Min 1 characters</div>
                            <div *ngIf="f.frm_post_test_score.errors.maxlength">Max 3 characters</div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="margin-left: -22px;">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600 invisible">post_test_grade</label>
                        <input type="text" class="form-control" readonly="" #txtpost_test_grade>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1" style="padding: 0 0 0 10px;">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">total</label>
                <input type="text" class="form-control" readonly="" #txttotal>
            </div>
        </div>
        <div class="col-2 text-right pt-4">
            <button type="button" class="btn btn-az-primary btn-sm" (click)="fnSave()">Save</button>
            <button type="button" class="btn btn-dark btn-sm" (click)="fnClear()">Clear</button>
        </div>
        <div class="col-12">
            <div style="position: absolute; top:-10px; left: 30px; width: 35%;">
                <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                    <i class="typcn typcn-info-large tx-24 lh--9 op-6 pointer text-muted"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 5px;">
                    <img src="assets/images/standard_point.PNG" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<table datatable [dtOptions]="dt_options" class="table table-bordered table-hover table-sm">
    <thead>
        <tr class="text-uppercase">
            <th>no.</th>
            <th>employee no.</th>
            <th>name</th>
            <th>band</th>
            <th>department</th>
            <th>ENTRA DATE</th>
            <!-- // entra date = วันเข้างาน, probation_date = วันผ่านโปร ต้องเพิ่ม view cpt all column entra date-->
            <th>PRE-RESULT</th>
            <th>POST-RESULT</th>
            <th>manage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data_grid; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.emp_no }}</td>
            <td>{{ item.employees.title_name_en }}&nbsp;{{ item.employees.firstname_en }}&nbsp;{{ item.employees.firstname_en }}</td>
            <td>{{ item.employees.band }}</td>
            <td>{{ item.employees.dept_code}}:{{ item.employees.dept_abb }}</td>
            <td>{{ item.employees.probation_date | date:'dd-MMM-yy'}}</td>
            <td>{{ item.pre_test_score }} : {{ item.pre_test_grade }}</td>
            <td>{{ item.post_test_score }} : {{ item.post_test_grade }}</td>
            <td>
                <i class="far fa-trash-alt pointer" (click)="fnDelete(item)"></i>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #contentCourse let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-capitalize" id="modal-basic-title">Find Course: {{v_course_no}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-capitalize">
        <app-dialog-course [inputitem]="inputitem" (newItemEvent)="addItemCourse($event)"></app-dialog-course>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-az-primary btn-sm" (click)="modal.close('OK')">Ok</button>
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>