<div class="card card-body mb-3 p-2">
    Username จะเกิดขึ้นเมื่อมีการล็อกอินครั้งแรกด้วย Username และ Password ด้วยรหัสพนักงานทั้งคู่
</div>

<table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover" id="example">
    <thead>
        <tr>
            <th class="text-center">
                <input type="checkbox">
            </th>
            <th class="text-center">EMP NO.</th>
            <th class="text-center">Name</th>
            <th class="text-center">Division</th>
            <th class="text-center">Department</th>
            <th class="text-center">Band</th>
            <th class="text-center">Position</th>
            <th class="text-center">EMAIL</th>
            <th class="text-center">USERNAME</th>
            <th class="text-center">MANAGE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of c">
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-9">{{ e.EMP_NO }}</td>
            <td class="tx-9">{{ e.firstname_en+" "+e.firstname_en }}</td>
            <td class="tx-9">{{ e.div_abb}}</td>
            <td class="tx-9">{{ e.dept_abb }}</td>
            <td class="tx-9">{{ e.BAND }}</td>
            <td class="tx-9">{{ e.position_name_en }}</td>
            <td class="tx-9">{{ e.EMAIL }}</td>
            <td class="tx-9">{{ e.UserName }}</td>
            <td class="tx-9 text-center">
                <a href=""><i class="far fa-edit"></i></a>
            </td>
        </tr>
    </tbody>
</table>