<div class="az-sidebar">
    <div class="az-sidebar-header">
        <a href="#" class="az-logo">HRGIS</a>
    </div>
    <!-- az-sidebar-header -->
    <div class="az-sidebar-loggedin">
        <div class="az-img-user online"><img src="assets/images/img1.jpg" alt=""></div>
        <div class="media-body">
            <h6>Noppamas T.</h6>
            <span>IT Administrator</span>
        </div>
        <!-- media-body -->
    </div>
    <!-- az-sidebar-loggedin -->
    <div class="az-sidebar-body">
        <ul class="nav">
            <li class="nav-label mb-3">Main Menu</li>
            <a *ngFor="let menu of menus" routerLink="{{ menu.url }}" 
                  class="nav-link" [ngClass]="{'active': menu.url == active_url  }">
                  {{ menu.menu_name }}
            <div *ngIf="(menu.url == active_url )" class="badge badge-danger badge-pill">Active</div>
      </a>
        </ul>
        <!-- nav -->
    </div>
    <!-- az-sidebar-body -->
</div>
<!-- az-sidebar -->