<div class="row text-capitalize">
    <div class="col-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    course no.
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Enter key..." value="PTM" #txtcourse_no>
        </div>
    </div>
    <div class="col-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    start&nbsp;&nbsp;&nbsp;<i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                </div>
            </div>
            <input class="form-control" placeholder="yyyy-mm-dd" name="txtdate_from" #txtdate_from readonly ngbDatepicker #date_from="ngbDatepicker" (click)="date_from.toggle()" (dateSelect)="onDateSelectFrom($event)">
        </div>
    </div>
    <div class="col-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    end&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                </div>
            </div>
            <input class="form-control" placeholder="yyyy-mm-dd" name="txtdate_to" #txtdate_to readonly ngbDatepicker #date_to="ngbDatepicker" (click)="date_to.toggle()" (dateSelect)="onDateSelectTo($event)">
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="text-uppercase">
                    <th>no.</th>
                    <th>course no.</th>
                    <th>english course name</th>
                    <th>thai course name</th>
                    <th>start date</th>
                    <th>end date</th>
                    <th>place</th>
                    <th>emp no count</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data_grid; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.course_no }}</td>
                    <td>{{ item.course_name_th }}</td>
                    <td>{{ item.course_name_en }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.end_date }}</td>
                    <td>{{ item.place }}</td>
                    <td>{{ item.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>