<div class="card card-body">
    <div class="row">
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Course no.</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Thai Name</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">English Name</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
    </div>
    
    <div class="row">
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Group</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Capacity</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Required course</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
    </div>

    <div class="row">
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Day</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Category</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Level</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Band</label>
            <input type="text" class="form-control" required>
        </div><!-- form-group -->
    </div>
</div>


<div class="row pt-2">
    <div class="col-12">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover" id="example">
            <thead>
                <tr class="text-uppercase">
                    <th class="text-center">
                        <input type="checkbox">
                    </th>
                    <th>no.</th>
                    <th>course no.</th>
                    <th>thai course name</th>
                    <th>english course name</th>
                    <th>Category</th>
                    <th>days</th>
                    <th>Group</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of course_master; let i = index">
                    <th class="text-center">
                        <input type="checkbox">
                    </th>
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.course_no }}</td>
                    <td>{{ item.course_name_th }}</td>
                    <td>{{ item.course_name_en }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.days }}</td>
                    <td>{{ item.dept_abb_name }}</td>
                    <td>
                        <i class="far fa-edit"></i>
                        <i class="far fa-trash-alt"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

