<div class="az-signin-wrapper" style="min-height: 100%;">
    <div class="az-card-signin">
        <h1 class="az-logo">HRGIS</h1>
        <div class="az-signin-header">
            <h2>Welcome back!</h2>
            <h4>Please sign in to continue</h4>

            <form [formGroup]="form" (ngSubmit)="btnsubmit()">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Enter your username" #username [formControlName]="'username'">
                </div>
                <!-- form-group -->
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter your password" value="thisisademo" #password [formControlName]="'password'">
                </div>
                <!-- form-group -->
                <div *ngIf="showErrorMessage" class="text-left text-danger">
                    <p>{{errorMessage}}</p>
                </div>
                <!-- <a class="btn btn-az-primary btn-block" href="/">Sign In</a> -->
                <button type="submit" class="btn btn-az-primary btn-block" aria-label="icon button" [disabled]="!form.valid">Sign In</button>
            </form>
        </div>
        <!-- az-signin-header -->
        <div class="az-signin-footer">
            <p><a href="#">Forgot password?</a></p>
            <p>Don't have an account? <a routerLink="/authentication/signup">Create an Account</a></p>
        </div>
        <!-- az-signin-footer -->
    </div>
    <!-- az-card-signin -->
</div>
<!-- az-signin-wrapper -->