<h2 class="az-content-title">Employee</h2>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Maintenance
            </div>
            <div class="card-body">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" placeholder="Search.." aria-label="Search.." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <ul class="pl-1"></ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Inquiry
            </div>
            <div class="card-body">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" placeholder="Search.." aria-label="Search.." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <ul class="pl-1">
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Report
            </div>
            <div class="card-body">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" placeholder="Search.." aria-label="Search.." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <ul class="pl-1">
                    <li><a href="/employee/manpower" class="tx-13">Manpower report</a></li>
                    <li><a href="#" class="tx-13">Employee data</a></li>
                    <li><a href="#" class="tx-13">Employee data own department (ICD)</a></li>
                    <li><a href="#" class="tx-13">Education employee data</a></li>
                    <li><a href="#" class="tx-13">Promotion employee data</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>