<div class="row">
    <div class="col" *ngFor="let parent of training_menu">
        <div class="card">
            <div class="card-header">
                {{ parent.menu_name }}
            </div>
            <div class="card-body">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" placeholder="Search.." aria-label="Search.." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <ul class="pl-1">
                    <li *ngFor="let item of parent.children">
                        <a routerLink="{{item.url}}" class="tx-13">{{ item.menu_name }}</a>
                        <img alt="" width="16" src="{{ item.updated_by=='014496'? 'assets/images/rubber-duck.png':'assets/images/apple.png'}}" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>