<h1>Menu</h1>



<div class="row pt-2">
    <div class="col-12">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover w-100" id="example">
            <thead>
                <tr class="text-uppercase">
                    <th class="text-center">
                        <input type="checkbox">
                    </th>
                    <th class="text-center">menu code</th>
                    <th class="text-center">menu name</th>
                    <!-- <th class="text-center">childern</th> -->
                </tr>
            </thead>
        </table>
    </div>
</div>