<div class="card card-info card-body p-2 mb-3">
    <div>The Center is responsible for approving the final course registration and being able to see the learning and teaching information of students and teachers for the whole company</div>
    <div>Center มีหน้าที่เพื่อ approve การลงทะเบียนคอร์สในขั้นตอนสุดท้าย และสามารถมองเห็นข้อมูลการเรียนและสอนของผู้เรียนและผู้สอนได้ทั้งบริษัท</div>
</div>

<table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover" id="example">
    <thead>
        <tr>
            <th class="text-center"></th>
            <th class="text-center">EMP NO.</th>
            <th class="text-center">TITLE NAME</th>
            <th class="text-center">FIRSTNAME</th>
            <th class="text-center">LASTNAME</th>
            <th class="text-center">POSITION NAME</th>
            <th class="text-center">DIVISION</th>
            <th class="text-center">DEPARTMENT</th>
            <th class="text-center">MANAGE</th>
        </tr>
    </thead>
</table>
