<div class="card card-body mb-3">
    <!-- <h1>{{emp_no}}</h1> -->
    <div class="row text-center">
        <div class="offset-4 col-2">
            <label class="rdiobox">
                <input name="rdio" type="radio" name="type" value="internal" [checked]="!external" (change)="external = false">
                <span>Internal</span>
            </label>
        </div>
        <div class="col-2">
            <label class="rdiobox">
                <input name="rdio" type="radio" name="type" value="external" [checked]="external" (change)="external = true">
                <span>External</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Emp no.</label>
            <input type="text" name="emp_no" class="form-control" required 
                [(ngModel)]="emp_no" 
                (keyup)="fillEmpNo($event)" 
                [disabled]="external">
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Title name</label>
            <input type="text" class="form-control" required [disabled]="!external">
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">FIRSTNAME</label>
            <input type="text" class="form-control" required [disabled]="!external">
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">LASTNAME</label>
            <input type="text" class="form-control" required [disabled]="!external">
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Org</label>
            <input type="text" class="form-control" required [disabled]="!external">
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Status</label>
            <input type="text" class="form-control" required [disabled]>
        </div><!-- form-group -->
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600"> </label>
            <div>
            <button type="submit" class="btn btn-az-primary btn-sm">Save</button>
            <button type="clear" class="btn btn-outline-dark btn-sm">Clear</button></div>
        </div><!-- form-group -->

    </div>
</div>

<table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover" id="example">
    <thead>
        <tr>
            <th class="text-center">
                <input type="checkbox">
            </th>
            <th class="text-center">EMP NO</th>
            <th class="text-center">NAME</th>
            <th class="text-center">ORGANIZATION</th>
            <th class="text-center">STATUS</th>
            <th class="text-center">TYPE</th>
            <th class="text-center">VIEW</th>
            <th class="text-center">MANAGE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center">000001</td>
            <td class="tx-13 text-center">KANCHANA SAIPANUS</td>
            <td class="tx-13 text-center">CPD - ICD</td>
            <td class="tx-13 text-center">Normal</td>
            <td class="tx-13 text-center">Internal</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center">000002</td>
            <td class="tx-13 text-center">KANCHANA SAIPANUS</td>
            <td class="tx-13 text-center">CPD - ICD</td>
            <td class="tx-13 text-center">Normal</td>
            <td class="tx-13 text-center">Internal</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center">000003</td>
            <td class="tx-13 text-center">KANCHANA SAIPANUS</td>
            <td class="tx-13 text-center">CPD - ICD</td>
            <td class="tx-13 text-center">Normal</td>
            <td class="tx-13 text-center">Internal</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center">000004</td>
            <td class="tx-13 text-center">KANCHANA SAIPANUS</td>
            <td class="tx-13 text-center">CPD - ICD</td>
            <td class="tx-13 text-center">Resign</td>
            <td class="tx-13 text-center">Internal</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center">000005</td>
            <td class="tx-13 text-center">KANCHANA SAIPANUS</td>
            <td class="tx-13 text-center">CPD - ICD</td>
            <td class="tx-13 text-center">Resign</td>
            <td class="tx-13 text-center">Internal</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center">000006</td>
            <td class="tx-13 text-center">KANCHANA SAIPANUS</td>
            <td class="tx-13 text-center">CPD - ICD</td>
            <td class="tx-13 text-center">Resign</td>
            <td class="tx-13 text-center">Internal</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center">000007</td>
            <td class="tx-13 text-center">KANCHANA SAIPANUS</td>
            <td class="tx-13 text-center">CPD - ICD</td>
            <td class="tx-13 text-center">Resign</td>
            <td class="tx-13 text-center">Internal</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center"></td>
            <td class="tx-13 text-center">Carey Jim</td>
            <td class="tx-13 text-center">304 Language School</td>
            <td class="tx-13 text-center"></td>
            <td  class="tx-13 text-center">External</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center"></td>
            <td class="tx-13 text-center">Carey Jinny</td>
            <td class="tx-13 text-center">304 Language School</td>
            <td class="tx-13 text-center"></td>
            <td  class="tx-13 text-center">External</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center"></td>
            <td class="tx-13 text-center">Marey T.</td>
            <td class="tx-13 text-center">304 Language School</td>
            <td class="tx-13 text-center"></td>
            <td  class="tx-13 text-center">External</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td class="tx-13 text-center"></td>
            <td class="tx-13 text-center">K.Wut</td>
            <td class="tx-13 text-center">VT tech co, Ltd.</td>
            <td class="tx-13 text-center"></td>
            <td  class="tx-13 text-center">External</td>
            <td class="tx-13 text-center">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13 text-center">       
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>
